/* Some Resets */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #0f1522;
    /* 95% opaque white */
    font-family: "Inter", sans-serif;
}

main {
    width: 100vw;
    height: 100vh;
    display: grid;
    place-items: center;

}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 5;
    backdrop-filter: blur(12px);
    background-color: rgba(17, 17, 17, 0.199) !important;
    padding-top: .5rem;
    border-radius: 0px 0px 30px 30px;
}

.logo {
    cursor: pointer;
    margin-left: 2%;
}

.nav__links a,
.cta,
.overlay__content a {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    color: #edf0f1;
    text-decoration: none;
}

.nav__links {
    list-style: none;
    display: flex;
}

.nav__links li {
    padding: 0px 20px;
}

.nav__links li a {
    transition: color 0.3s ease 0s;
    font-size: 1.5em;
    text-transform: uppercase;
}

.nav__links li a:hover {
    color: #40adf6;
}

a {
    text-decoration: none;
}

/* Mobile Nav */

.menu {
    display: none;
}

.menu {
    position: absolute;
    top: 50%;
    left: 90%;
    transform: translate(-50%, -50%);
    cursor: pointer;
    transition: 0.5s ease;
    height: 50px;

    &:hover .bar {
        box-shadow: 1px 1px 7px 1px RGBa(0, 0, 0, 0.3);
    }

    .bar {
        width: 55px;
        height: 10px;
        background: #fff;
        box-shadow: 1px 1px 3px RGBa(0, 0, 0, 0.4);
        border-radius: 2px;
        transition: 0.4s ease;

        &:not(:first-child) {
            margin-top: 10px;
        }
    }
}

#hi {
    position: absolute;
    left: -999px;
    top: -999px;
}

#hi:checked+.menu {
    transform: translate(-50%, -50%) rotatey(180deg);

    .bar {
        transform: rotatey(180deg) rotatex(360deg);

        &:first-child {
            transform: rotate(-45deg);
            margin-top: 20px;
        }

        &:nth-child(2) {
            opacity: 0;
        }

        &:nth-child(3) {
            margin-top: -30px;
            transform: rotate(45deg);
        }
    }
}

.overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 99;
    left: 0;
    top: 0;
    background-color: #24252a;
    overflow-x: hidden;
    transition: width 0.5s ease 0s;
}

.overlay--active {

    width: 100%;
}

.overlay__content {
    display: flex;
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.overlay a {
    padding: 15px;
    font-size: 36px;
    display: block;
    transition: color 0.3s ease 0s;
}

.overlay a:hover,
.overlay a:focus {
    color: #f6a740;
}

.overlay .close {
    padding-top: 70px;
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
    color: #edf0f1;
    z-index: 99;
}



.carousel__wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr max-content;
    grid-template-areas:
        "title nav"
        "carousel carousel";
    position: relative;
    width: 100%;
    height: max-content;
    gap: 2rem 0;
    align-items: center;
}

.carousel__header {
    color: #c5c1c1;
    grid-area: title;
    font-weight: 700;
    font-size: 2rem;
}

.carousel {
    grid-area: carousel;
    position: relative;
    display: flex;
    overflow:hidden;
    
}

.carousel__item {
    position: absolute;
    padding: 2rem;
    border-radius: 12px;
    /*   border: 1px solid #999; */
    background: #c5c1c1;
    top: 0;
    transition: all ease-in-out 800ms;
    display: grid;
    place-items: center;
    flex: 0 0 100%;
    max-width: 100%;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.carousel__item--active {
    top: -0.5rem;
    padding-top: 3em;
    padding-bottom: 3em;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    /* Adjust the values for the hover effect */
}

.carousel__item__name {
    color: #cacdcf;
    text-align: center;
}

.carousel__item>div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5rem 0;
}

/* Colors for different flavors */
.carousel__item {
    background: rgba(66, 66, 66, 0.54);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5.5px);
    --webkit-backdrop-filter: blur(5.5px);

}




/* Caousel Nav */
.carousel__nav {
    grid-area: nav;
    justify-self: end;
    display: flex;
    justify-content: center;
    gap: 0 1rem;
}

.carousel__nav__item {
    padding: 0.375rem;
    border: 1px solid #eee;
    border-radius: 24px;
    background-color: #e5e5e5;
    cursor: pointer;
    display: inline-block;
    line-height: 0;
}

.carousel__nav__item:hover {
    background-color: #cacacb;
}

@media screen and (max-height: 450px) {
    .overlay a {
        font-size: 20px;
    }

    .overlay .close {
        font-size: 40px;
        top: 15px;
        right: 35px;
    }

}

@media only screen and (max-width: 1200px) {

    .nav__links,
    .cta {
        display: none;
    }

    .menu {
        display: initial;
    }
    .carousel {
        display: flex;
        overflow-x: scroll;
        scroll-snap-type: x mandatory;
        -webkit-overflow-scrolling: touch;
      }
      
      .carousel__item {
        flex: 0 0 100%;
        max-width: 100%;
        height: 200px;
        display: flex;
        align-items: center;
        justify-content: center;
        scroll-snap-align: start;
      }
      
      .carousel__prev,
      .carousel__next {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        background: none;
        border: none;
        font-size: 2rem;
        color: #fff;
        cursor: pointer;
        outline: none;
      }
      
      .carousel__prev {
        left: 0;
      }
      
      .carousel__next {
        right: 0;
      }
}

@media only screen and (max-width: 800px) {

    .nav__links,
    .cta {
        display: none;
    }

    .menu {
        display: initial;
    }

}

@media only screen and (max-hight: 600px) {

    .nav__links,
    .cta {
        display: none;
    }

    .menu {
        display: initial;
    }

}

@media only screen and (max-hight: 1000px) {

    .nav__links,
    .cta {
        display: none;
    }

    .menu {
        display: initial;
    }
}